[submodule "logger"]
	path = logger
	url = https://github.com/minecraft-linux/logger.git
[submodule "base64"]
	path = base64
	url = https://github.com/minecraft-linux/base64.git
[submodule "file-util"]
	path = file-util
	url = https://github.com/minecraft-linux/file-util.git
[submodule "properties-parser"]
	path = properties-parser
	url = https://github.com/minecraft-linux/properties-parser.git
[submodule "simple-ipc"]
	path = simple-ipc
	url = ../../MCMrARM/simple-ipc.git
[submodule "daemon-utils"]
	path = daemon-utils
	url = https://github.com/minecraft-linux/daemon-utils.git
[submodule "msa-daemon-client"]
	path = msa-daemon-client
	url = https://github.com/minecraft-linux/msa-daemon-client.git
[submodule "eglut"]
	path = eglut
	url = https://github.com/minecraft-linux/eglut.git
[submodule "linux-gamepad"]
	path = linux-gamepad
	url = ../../MCMrARM/linux-gamepad.git
[submodule "game-window"]
	path = game-window
	url = https://github.com/minecraft-linux/game-window.git
[submodule "file-picker"]
	path = file-picker
	url = https://github.com/minecraft-linux/file-picker.git
[submodule "cll-telemetry"]
	path = cll-telemetry
	url = https://github.com/minecraft-linux/cll-telemetry.git
[submodule "minecraft-imported-symbols"]
	path = minecraft-imported-symbols
	url = https://github.com/minecraft-linux/minecraft-imported-symbols.git
[submodule "mcpelauncher-common"]
	path = mcpelauncher-common
	url = https://github.com/minecraft-linux/mcpelauncher-common.git
[submodule "mcpelauncher-core"]
	path = mcpelauncher-core
	url = https://github.com/minecraft-linux/mcpelauncher-core.git
[submodule "mcpelauncher-client"]
	path = mcpelauncher-client
	url = https://github.com/minecraft-linux/mcpelauncher-client.git
[submodule "arg-parser"]
	path = arg-parser
	url = https://github.com/minecraft-linux/arg-parser.git
[submodule "mcpelauncher-linux-bin"]
	path = mcpelauncher-linux-bin
	url = https://github.com/minecraft-linux/mcpelauncher-linux-bin.git
[submodule "epoll-shim"]
	path = epoll-shim
	url = https://github.com/minecraft-linux/epoll-shim.git
[submodule "osx-elf-header"]
	path = osx-elf-header
	url = https://github.com/minecraft-linux/osx-elf-header.git
[submodule "mcpelauncher-mac-bin"]
	path = mcpelauncher-mac-bin
	url = https://github.com/minecraft-linux/mcpelauncher-mac-bin.git
[submodule "android-support-headers"]
	path = android-support-headers
	url = https://github.com/minecraft-linux/android-support-headers.git
[submodule "mcpelauncher-linker"]
	path = mcpelauncher-linker
	url = https://github.com/minecraft-linux/mcpelauncher-linker.git
[submodule "mcpelauncher-webview"]
	path = mcpelauncher-webview
	url = https://github.com/freundTech/mcpelauncher-webview
[submodule "libjnivm"]
	path = libjnivm
	url = https://github.com/ChristopherHX/libjnivm.git
[submodule "mcpelauncher-errorwindow"]
	path = mcpelauncher-errorwindow
	url = https://github.com/minecraft-linux/mcpelauncher-errorwindow.git
[submodule "libc-shim"]
	path = libc-shim
	url = https://github.com/woniuzfb/libc-shim
